@import url('https://fonts.googleapis.com/css2?family=Charis+SIL&family=Rajdhani&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Rajdhani', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #1f2021;
}

body::-webkit-scrollbar{
    width: 1vh;
}
body::-webkit-scrollbar-thumb{
    background-color: #373b38;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: #424744;
}
body::-webkit-scrollbar-track{
    background-color: #1f2021;
}


#main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 85vh;
    color: white;
    font-size: 2.5vh;
    letter-spacing: 2.5px;
}

.navbar{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.navbar a{
    position: relative;
    color: #a0a0a0;
    text-decoration: none;
    margin: 2vh;
    padding: 5px;
    font-size: 2vh;
}

.navbar a:after{
    content: "";
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    top: 27px;
    transition: 0.3s;
}
.navbar a:hover{
    color: white;
}
.navbar a:hover:after{
    width: 100%;
}

.line{
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.664);
    margin: 5px 80px 5px 80px;
}

.foot{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-size: 2vh;
    margin: 0px 80px 0px 80px;
}

.right a{
    padding: 5px;
    font-size: 2.5vh;
}
.left{
    font-size: 2.5vh;
}

@media only screen and (max-width: 600px){
    .foot{
        flex-direction: column;
    }
    .left{
        margin: 5px;
    }
    .right{
        margin: 5px;
    }
}

#aboutme-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 85vh;
}

#box{
    display: flex;
    flex-wrap: wrap;
    width: 550px;
    padding: 15px;
    margin: auto;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.027);
    color: white;
}

#box .img img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.column{
    flex: 50%;
}
.me-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.img{
    display: flex;
    justify-content: center;
}

#maincon{
    display: flex;
    flex-wrap: wrap;
    margin: 85px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.027);
    color: white;
    border-radius: 4px;
}
.first{
    display: flex;
}
.refimg{
    margin: 15px;
    padding: 10px;
}
.reftext{
    margin: 15px;
    padding: 10px;
    font-size: 3vh;
}